In [2]:
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine

### Duas formas de se conectar

In [3]:

db_connection_str = 'mysql+pymysql://root:Rodrigo123%@localhost/ecommerce_project_crud'

connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Rodrigo123%",
    database="ecommerce_project_crud"
)

In [4]:
db_connection = create_engine(db_connection_str)

if connection.is_connected():
    print("Connected to MySQL database")

Connected to MySQL database

### Testando com uma query

In [5]:
df = pd.read_sql("SELECT * FROM cliente WHERE idade_cliente = '27'", con=db_connection)
print(df)

   id_cliente     nome_cliente sexo_cliente  idade_cliente data_nasc_cliente
0           4  Charlotte Brown            f             27        1996-01-03
1          27   Zachary Carter            m             27        1996-10-20
2          50       Xenia Ward            f             27        1996-03-30
3          62  Jasmine Bennett            f             27        1996-02-13
4          71   Sebastian Bell            m             27        1996-01-19
5          88     Jade Bennett            f             27        1996-02-13
6          97   Sebastian Bell            m             27        1996-01-19

# Testando triggers

In [7]:
df2 = pd.read_sql("SELECT id_cliente_especial,nome_cliente_especial, cashback_cliente_especial FROM cliente_especial", con=db_connection)
print(df2)

    id_cliente_especial nome_cliente_especial  cashback_cliente_especial
0                     1            João Silva                       50.0
1                     2        Maria Oliveira                       45.0
2                     3         Pedro Almeida                       55.0
3                     4            Ana Santos                       60.0
4                     5        Fernanda Costa                       40.0
5                     6        Rafael Pereira                       70.0
6                     7      Mariana Ferreira                       48.0
7                     8           Carlos Lima                       42.0
8                     9           Aline Souza                       58.0
9                    10        Luiz Rodrigues                       52.0
10                   11    Patrícia Gonçalves                       44.0
11                   12         André Martins                       63.0
12                   13       Vanessa Pereira                       47.0
13                   14         Ricardo Alves                       38.0
14                   15        Carolina Silva                       67.0
15                   16         Daniel Santos                       55.0
16                   17       Camila Oliveira                       42.0
17                   18         Gabriel Costa                       60.0
18                   19          Isabela Lima                       49.0
19                   20     Juliana Rodrigues                       45.0

### 1) Cashback do cliente zerando