In [1]:
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine

### Duas formas de se conectar

In [2]:

db_connection_str = 'mysql+pymysql://root:Rodrigo123%@localhost/ecommerce_project'

connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Rodrigo123%",
    database="ecommerce_project"
)

In [3]:
db_connection = create_engine(db_connection_str)

if connection.is_connected():
    print("Connected to MySQL database")

Connected to MySQL database

### Testando com uma query

In [14]:
df = pd.read_sql("SELECT id_cliente_especial,id_cliente, nome_cliente_especial FROM cliente_especial", con=db_connection)
print(df)

    id_cliente_especial  id_cliente nome_cliente_especial
0                     1          65      Fernanda Esteves
1                     2          18          Helena Gomes
2                     3          19       Helena Henrique
3                     4          25        Helena Esteves
4                     5           1           Ana Almeida
5                     6           6     Fernanda Ferreira
6                     7          43      Fernanda Almeida
7                     8          22        Helena Almeida
8                     9          33       Fernanda Duarte
9                    10          47      Juliana Henrique
10                   11          28          Ana Ferreira
11                   12          48           Ana Almeida
12                   13          31       Daniela Esteves
13                   14          90      Fernanda Almeida
14                   15          45       Helena Ferreira
15                   16          95           Ana Almeida
16                   17           8           Ana Almeida

# Views

### 1) Produtos quase acabando

In [5]:
df_view1 = pd.read_sql("SELECT nome_produto,quantidade_produto, valor_produto FROM Produtos_Quase_Acabando", con=db_connection)
print(df_view1)

  nome_produto  quantidade_produto  valor_produto
0      Headset                  15         120.99
1   Impressora                  18         220.30
2      Scanner                  12         185.40
3  Processador                  20         300.00

### 2) Clientes com cashback maior que 50

In [6]:
df_view2 = pd.read_sql("SELECT * FROM Clientes_Com_Cashback_Maior_Que_50", con=db_connection)
print(df_view2)

   id_cliente_especial nome_cliente_especial sexo_cliente_especial  \
0                    2          Helena Gomes                     f
1                    5           Ana Almeida                     f
2                    6     Fernanda Ferreira                     f
3                   11          Ana Ferreira                     f

   idade_cliente_especial  cashback_cliente_especial
0                      49                      102.3
1                      37                     1042.3
2                      37                       90.0
3                      41                       89.0

### 3) Média de salário por cargo

In [7]:
df_view3 = pd.read_sql("SELECT * FROM Media_Salario_Por_Cargo", con=db_connection)
print(df_view3)

  cargo_funcionario  media_salario
0          vendedor        3460.72
1           gerente        5830.83
2               CEO       12870.60

# Testando stored procedures

In [8]:
df2 = pd.read_sql("SELECT id_funcionario, nome_funcionario, cargo_funcionario, salario_funcionario FROM funcionario", con=db_connection)
print(df2)

   id_funcionario  nome_funcionario cargo_funcionario  salario_funcionario
0               1  Carolina Lacerda          vendedor              3840.60
1               2     Lucas Álvares          vendedor              2760.96
2               3    Adriana Mattos           gerente              5830.83
3               4     Matheus Jorge          vendedor              3780.60
4               5   Jaqueline Borba               CEO             12870.60

### 1) Stored procedure (Ajuste Salarial)

In [9]:
mycursor = connection.cursor()

# Definir os parâmetros para a stored procedure
porcentagem = 30.00  # exemplo de porcentagem
categoria = 'CEO'  # exemplo de categoria

# Chamar a stored procedure
mycursor.callproc('reajuste_salarial', [porcentagem, categoria])
connection.commit()
print("Stored procedure executada com sucesso")

Stored procedure executada com sucesso

### ==========================================================================

In [13]:
df4 = pd.read_sql("SELECT * FROM venda", con=db_connection)
print(df4)

   id_venda  data_venda  id_vendedor  id_cliente  id_produto
0         1  2024-06-12            1           2           3
1         2  2024-06-12            2           5          14
2         3  2024-06-12            1           5          14
3         4  2024-06-12            2           6          14
4         5  2024-06-12            2           6          14

In [11]:
df4 = pd.read_sql("SELECT id_produto, nome_produto, quantidade_produto FROM produto", con=db_connection)
print(df4)

    id_produto          nome_produto  quantidade_produto
0            1                Laptop                  35
1            2               Monitor                  43
2            3               Teclado                  24
3            4                 Mouse                  60
4            5               Headset                  15
5            6            Impressora                  18
6            7               Scanner                  12
7            8                Webcam                  33
8            9             Microfone                  27
9           10              Notebook                  40
10          11                Tablet                  22
11          12        Placa de Vídeo                  30
12          13           Processador                  20
13          14           Memória RAM                  42
14          15  Fonte de Alimentação                  37
15          16              Gabinete                  50
16          17            HD Externo                  28
17          18                   SSD                  32
18          19             Placa-Mãe                  25
19          20                Cooler                  60

### 2) Stored procedure (Venda)

In [12]:


# Definir os parâmetros para a stored procedure
id_vendedor = 2
id_cliente = 6
id_produto = 14



mycursor.callproc('Realizar_Venda', [id_vendedor, id_cliente, id_produto]) # Chamar a stored procedure
connection.commit() 
print("Stored procedure executada com sucesso")

Stored procedure executada com sucesso