In [2]:
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine

### Duas formas de se conectar

In [3]:

db_connection_str = 'mysql+pymysql://root:Rodrigo123%@localhost/ecommerce_project'

connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Rodrigo123%",
    database="ecommerce_project"
)

In [4]:
db_connection = create_engine(db_connection_str)

if connection.is_connected():
    print("Connected to MySQL database")

Connected to MySQL database

### Testando com uma query

In [13]:
df = pd.read_sql("SELECT id_cliente, nome_cliente FROM cliente", con=db_connection)
print(df)

    id_cliente       nome_cliente
0            1        Ana Almeida
1            2       Bruno Barros
2            3     Carlos Cardoso
3            4     Daniela Duarte
4            5    Eduardo Esteves
..         ...                ...
95          96       Bruno Barros
96          97     Carlos Cardoso
97          98     Daniela Duarte
98          99    Eduardo Esteves
99         100  Fernanda Ferreira

[100 rows x 2 columns]

# Views

### 1) Produtos quase acabando

In [6]:
df_view1 = pd.read_sql("SELECT nome_produto,quantidade_produto, valor_produto FROM Produtos_Quase_Acabando", con=db_connection)
print(df_view1)

  nome_produto  quantidade_produto  valor_produto
0      Headset                  15         120.99
1   Impressora                  18         220.30
2      Scanner                  12         185.40
3  Processador                  20         300.00

### 2) Clientes com cashback maior que 50

In [7]:
df_view2 = pd.read_sql("SELECT * FROM Clientes_Com_Cashback_Maior_Que_50", con=db_connection)
print(df_view2)

   id_cliente_especial nome_cliente_especial sexo_cliente_especial  \
0                    2          Helena Gomes                     f
1                    5           Ana Almeida                     f
2                    6     Fernanda Ferreira                     f
3                   11          Ana Ferreira                     f

   idade_cliente_especial  cashback_cliente_especial
0                      49                      102.3
1                      37                     1042.3
2                      37                       90.0
3                      41                       89.0

### 3) Média de salário por cargo

In [8]:
df_view3 = pd.read_sql("SELECT * FROM Media_Salario_Por_Cargo", con=db_connection)
print(df_view3)

  cargo_funcionario  media_salario
0          vendedor        3460.72
1           gerente        5830.83
2               CEO      104989.40

### 4) Vendas por cliente

In [12]:
df_view4 = pd.read_sql("SELECT * FROM vendas_por_cliente", con=db_connection)
print(df_view4)

        nome_cliente  total_vendas  valor_total_vendas
0       Bruno Barros             1                75.2
1    Eduardo Esteves             2               200.5
2  Fernanda Ferreira             2               200.5
3     Juliana Jardim             1               350.0
4     Carlos Cardoso             9               405.9

# Testando stored procedures

In [9]:
df2 = pd.read_sql("SELECT id_funcionario, nome_funcionario, cargo_funcionario, salario_funcionario FROM funcionario", con=db_connection)
print(df2)

   id_funcionario  nome_funcionario cargo_funcionario  salario_funcionario
0               1  Carolina Lacerda          vendedor              3840.60
1               2     Lucas Álvares          vendedor              2760.96
2               3    Adriana Mattos           gerente              5830.83
3               4     Matheus Jorge          vendedor              3780.60
4               5   Jaqueline Borba               CEO            104989.40

### 1) Stored procedure (Ajuste Salarial)

In [210]:
mycursor = connection.cursor()

# Definir os parâmetros para a stored procedure
porcentagem = 30.00  # exemplo de porcentagem
categoria = 'CEO'  # exemplo de categoria

# Chamar a stored procedure
mycursor.callproc('reajuste_salarial', [porcentagem, categoria])
connection.commit()
print("Stored procedure executada com sucesso")

Stored procedure executada com sucesso

### ==========================================================================

In [10]:
df4 = pd.read_sql("SELECT * FROM venda", con=db_connection)
print(df4)

    id_venda  data_venda  id_vendedor  id_cliente  id_produto
0          1  2024-06-12            1           2           3
1          2  2024-06-12            2           5          14
2          3  2024-06-12            1           5          14
3          4  2024-06-12            2           6          14
4          5  2024-06-12            2           6          14
5          6  2024-06-12            2          10          11
6          7  2024-06-12            1           3           4
7          8  2024-06-12            1           3           4
8          9  2024-06-12            1           3           4
9         10  2024-06-12            1           3           4
10        11  2024-06-12            1           3           4
11        12  2024-06-12            1           3           4
12        13  2024-06-12            1           3           4
13        14  2024-06-12            1           3           4
14        15  2024-06-12            1           3           4

In [212]:
df4 = pd.read_sql("SELECT id_produto, nome_produto, quantidade_produto FROM produto", con=db_connection)
print(df4)

    id_produto          nome_produto  quantidade_produto
0            1                Laptop                  35
1            2               Monitor                  43
2            3               Teclado                  24
3            4                 Mouse                  52
4            5               Headset                  15
5            6            Impressora                  18
6            7               Scanner                  12
7            8                Webcam                  33
8            9             Microfone                  27
9           10              Notebook                  40
10          11                Tablet                  21
11          12        Placa de Vídeo                  30
12          13           Processador                  20
13          14           Memória RAM                  41
14          15  Fonte de Alimentação                  37
15          16              Gabinete                  50
16          17            HD Externo                  28
17          18                   SSD                  32
18          19             Placa-Mãe                  25
19          20                Cooler                  60

### 2) Stored procedure (Venda)

In [213]:


# Definir os parâmetros para a stored procedure
id_vendedor = 1
id_cliente = 3
id_produto = 4



mycursor.callproc('Realizar_Venda', [id_vendedor, id_cliente, id_produto]) # Chamar a stored procedure
connection.commit() 
print("Stored procedure executada com sucesso")

Stored procedure executada com sucesso

### 3) Stored procedure (Sorteio de Clientes)

In [214]:
df5 = pd.read_sql("CALL SorteioCliente()", con=db_connection)
print(df5)

      NomeCliente  ValorVoucher
0  Helena Cardoso         100.0

# Stored procedure (estatísticas)

### 1) Mês de menor venda do produto menos vendido

In [15]:
df6 = pd.read_sql("CALL month_min_sales_less_sold_product()", con=db_connection)
print(df6)

   id_produto_menos_vendido  quantidade_produto_menos_vendido  \
0                         3                                 1

   mes_menor_venda nome_produto_menos_vendido
0                6                    Teclado

### 2) Mês de maior vendas do produto menos vendido

In [17]:
df7 = pd.read_sql("CALL month_max_sales_less_sold_product()", con=db_connection)
print(df7)

   id_produto_menos_vendido  quantidade_produto_menos_vendido  \
0                         3                                 1

   mes_maior_venda nome_produto_menos_vendido
0                6                    Teclado

### 3) Produto menos vendido

In [18]:
df8 = pd.read_sql("CALL less_sold_product_amount()", con=db_connection)
print(df8)

   ID      NOME  VALOR
0    3  Teclado   75.2

# Testando Triggers

### 1) Remover cliente especial (zerando cashback)

In [215]:
df_trigg1 = pd.read_sql("SELECT id_cliente_especial, nome_cliente_especial, cashback_cliente_especial FROM cliente_especial", con=db_connection)
print(df_trigg1)

    id_cliente_especial nome_cliente_especial  cashback_cliente_especial
0                     1      Fernanda Esteves                       10.2
1                     2          Helena Gomes                      102.3
2                     3       Helena Henrique                       40.0
3                     4        Helena Esteves                       35.0
4                     5           Ana Almeida                     1042.3
5                     6     Fernanda Ferreira                       90.0
6                     7      Fernanda Almeida                       13.0
7                     8        Helena Almeida                       18.0
8                     9       Fernanda Duarte                       14.0
9                    10      Juliana Henrique                       36.0
10                   11          Ana Ferreira                       89.0
11                   12           Ana Almeida                       12.0
12                   13       Daniela Esteves                        5.0
13                   14      Fernanda Almeida                        9.0
14                   15       Helena Ferreira                       11.0
15                   16           Ana Almeida                        4.0
16                   17           Ana Almeida                        2.3

In [216]:
id_do_cliente_especial = 1

mycursor.execute("SELECT get_and_reset_cashback(1)")