In [1]:
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine

### Duas formas de se conectar

In [2]:

db_connection_str = 'mysql+pymysql://root:Rodrigo123%@localhost/ecommerce_project_crud'

connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Rodrigo123%",
    database="ecommerce_project_crud"
)

In [3]:
db_connection = create_engine(db_connection_str)

if connection.is_connected():
    print("Connected to MySQL database")

Connected to MySQL database

### Testando com uma query

In [6]:
df = pd.read_sql("SELECT * FROM cliente WHERE idade_cliente = '29'", con=db_connection)
print(df)

   id_cliente   nome_cliente sexo_cliente  idade_cliente data_nasc_cliente
0          14      Mia Clark            f             29        1994-05-07
1          48  Violet Rivera            f             29        1995-01-22
2          55  Caleb Russell            m             29        1994-02-17
3          65   Mason Fisher            m             29        1994-07-04
4          81  Chase Russell            m             29        1994-02-17
5          91   Miles Fisher            m             29        1994-07-04

# Testando stored procedures

In [5]:
df2 = pd.read_sql("SELECT id_funcionario, nome_funcionario, cargo_funcionario, salario_funcionario FROM funcionario", con=db_connection)
print(df2)

   id_funcionario  nome_funcionario cargo_funcionario  salario_funcionario
0               1  Carolina Lacerda          vendedor             10281.12
1               2     Lucas Álvares          vendedor              7390.99
2               3    Adriana Mattos           gerente              5300.75
3               4     Matheus Jorge          vendedor             10120.51
4               5   Jaqueline Borba               CEO             61738.20

### 1) Stored procedure (Ajuste Salarial)

In [7]:
mycursor = connection.cursor()

# Definir os parâmetros para a stored procedure
porcentagem = 20.00  # exemplo de porcentagem
categoria = 'vendedor'  # exemplo de categoria

# Chamar a stored procedure
mycursor.callproc('reajuste_salarial', [porcentagem, categoria])
connection.commit()
print("Stored procedure executada com sucesso")

Stored procedure executada com sucesso

### ==========================================================================

In [8]:
df3 = pd.read_sql("SELECT id_produto, nome_produto, valor_produto FROM produto", con=db_connection)
print(df3)

    id_produto           nome_produto  valor_produto
0            1               Notebook         999.99
1            2             Smartphone         299.99
2            3        Fones de Ouvido         199.99
3            4             Video-game         399.99
4            5             Smartwatch         149.99
5            6         Liquidificador          49.99
6            7      Chaleira Elétrica          29.99
7            8   Forno de Micro-ondas          99.99
8            9        Aspirador de Pó         149.99
9           10              Geladeira         499.99
10          11  Cadeira de Escritório          89.99
11          12         Mesa de Jantar         299.99
12          13                   Sofá         399.99
13          14      Estante de Livros          79.99
14          15               Camiseta          19.99
15          16            Calça Jeans          39.99
16          17                  Tênis          59.99
17          18                Mochila          34.99
18          19                Relógio          99.99
19          20          Óculos de Sol          49.99

In [9]:
df4 = pd.read_sql("SELECT * FROM venda", con=db_connection)
print(df4)

Empty DataFrame
Columns: [id_venda, data_venda, id_vendedor, id_cliente, id_produto]
Index: []

### 2) Stored procedure (Venda)

In [12]:


# Definir os parâmetros para a stored procedure
data = '2024-06-11'  
id_vendedor = 1
id_cliente = 2
id_produto = 3



mycursor.callproc('realizar_venda', [data, id_vendedor, id_cliente, id_produto]) # Chamar a stored procedure
connection.commit() 
print("Stored procedure executada com sucesso")

IntegrityError: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`ecommerce_project_crud`.`venda`, CONSTRAINT `venda_ibfk_3` FOREIGN KEY (`id_produto`) REFERENCES `produto` (`id_produto`))