In [22]:
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine

### Duas formas de se conectar

In [23]:

db_connection_str = 'mysql+pymysql://root:Rodrigo123%@localhost/ecommerce_project'

connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Rodrigo123%",
    database="ecommerce_project"
)

In [24]:
db_connection = create_engine(db_connection_str)

if connection.is_connected():
    print("Connected to MySQL database")

Connected to MySQL database

### Testando com uma query

In [25]:
df = pd.read_sql("SELECT id_cliente_especial,id_cliente, nome_cliente_especial FROM cliente_especial", con=db_connection)
print(df)

    id_cliente_especial  id_cliente nome_cliente_especial
0                     1          65      Fernanda Esteves
1                     2          18          Helena Gomes
2                     3          19       Helena Henrique
3                     4          25        Helena Esteves
4                     5           1           Ana Almeida
5                     6           6     Fernanda Ferreira
6                     7          43      Fernanda Almeida
7                     8          22        Helena Almeida
8                     9          33       Fernanda Duarte
9                    10          47      Juliana Henrique
10                   11          28          Ana Ferreira
11                   12          48           Ana Almeida
12                   13          31       Daniela Esteves
13                   14          90      Fernanda Almeida
14                   15          45       Helena Ferreira
15                   16          95           Ana Almeida
16                   17           8           Ana Almeida

# Views

### 1) Produtos quase acabando

In [29]:
df_view1 = pd.read_sql("SELECT nome_produto,quantidade_produto, valor_produto FROM Produtos_Quase_Acabando", con=db_connection)
print(df_view1)

  nome_produto  quantidade_produto  valor_produto
0      Headset                  15         120.99
1   Impressora                  18         220.30
2      Scanner                  12         185.40
3  Processador                  20         300.00

### 2) Clientes com cashback maior que 50

In [30]:
df_view2 = pd.read_sql("SELECT * FROM Clientes_Com_Cashback_Maior_Que_50", con=db_connection)
print(df_view2)

   id_cliente_especial nome_cliente_especial sexo_cliente_especial  \
0                    2          Helena Gomes                     f
1                    5           Ana Almeida                     f
2                    6     Fernanda Ferreira                     f
3                   11          Ana Ferreira                     f

   idade_cliente_especial  cashback_cliente_especial
0                      49                      102.3
1                      37                     1042.3
2                      37                       90.0
3                      41                       89.0

# Testando stored procedures

In [27]:
df2 = pd.read_sql("SELECT id_funcionario, nome_funcionario, cargo_funcionario, salario_funcionario FROM funcionario", con=db_connection)
print(df2)

   id_funcionario  nome_funcionario cargo_funcionario  salario_funcionario
0               1  Carolina Lacerda          vendedor              3200.50
1               2     Lucas Álvares          vendedor              2300.80
2               3    Adriana Mattos           gerente              5300.75
3               4     Matheus Jorge          vendedor              3150.50
4               5   Jaqueline Borba               CEO              5500.25

### 1) Stored procedure (Ajuste Salarial)

In [28]:
mycursor = connection.cursor()

# Definir os parâmetros para a stored procedure
porcentagem = 20.00  # exemplo de porcentagem
categoria = 'vendedor'  # exemplo de categoria

# Chamar a stored procedure
mycursor.callproc('reajuste_salarial', [porcentagem, categoria])
connection.commit()
print("Stored procedure executada com sucesso")

ProgrammingError: 1305 (42000): PROCEDURE ecommerce_project.reajuste_salarial does not exist

### ==========================================================================

In [ ]:
df3 = pd.read_sql("SELECT id_produto, nome_produto, valor_produto FROM produto", con=db_connection)
print(df3)

    id_produto           nome_produto  valor_produto
0            1               Notebook         999.99
1            2             Smartphone         299.99
2            3        Fones de Ouvido         199.99
3            4             Video-game         399.99
4            5             Smartwatch         149.99
5            6         Liquidificador          49.99
6            7      Chaleira Elétrica          29.99
7            8   Forno de Micro-ondas          99.99
8            9        Aspirador de Pó         149.99
9           10              Geladeira         499.99
10          11  Cadeira de Escritório          89.99
11          12         Mesa de Jantar         299.99
12          13                   Sofá         399.99
13          14      Estante de Livros          79.99
14          15               Camiseta          19.99
15          16            Calça Jeans          39.99
16          17                  Tênis          59.99
17          18                Mochila          34.99
18          19                Relógio          99.99
19          20          Óculos de Sol          49.99

In [ ]:
df4 = pd.read_sql("SELECT * FROM venda", con=db_connection)
print(df4)

Empty DataFrame
Columns: [id_venda, data_venda, id_vendedor, id_cliente, id_produto]
Index: []

### 2) Stored procedure (Venda)

In [ ]:


# Definir os parâmetros para a stored procedure
data = '2024-06-11'  
id_vendedor = 1
id_cliente = 2
id_produto = 3



mycursor.callproc('realizar_venda', [data, id_vendedor, id_cliente, id_produto]) # Chamar a stored procedure
connection.commit() 
print("Stored procedure executada com sucesso")

IntegrityError: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`ecommerce_project_crud`.`venda`, CONSTRAINT `venda_ibfk_3` FOREIGN KEY (`id_produto`) REFERENCES `produto` (`id_produto`))